*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
#DIRECTORIOS
.idea/
.gradle/
/gradle
#ARCHIVOS
**/*.iml
gradlew
gradlew.bat
*.apk
/apikey.properties
